
<div class="limiter login p-fixed d-flex text-center bg-primary common-img-bg">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image: url(assets/images/14.gif);">
					<img class="img-fluid" style="max-width: 80%;
					" src="assets/images/logo1.png" alt="Theme-Logo"/>
					<span class="login100-form-title-1">
						Sign In
					</span>
				</div>

				<form class="login100-form validate-form">
					<div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
						<span class="label-input100">Username</span>
						<input class="input100" type="text" name="username" placeholder="Username or Email"[(ngModel)]="username">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
						<span class="label-input100">Password</span>
						<input class="input100" type="password" name="pass" placeholder="Enter password"[(ngModel)]="passwd" >
						<span class="focus-input100"></span>
					</div>
					
					<div class="flex-sb-m w-full p-b-30">
						<div>
							
                         <a href="#" [routerLink]="'/authentication/registration'" class="txt1 custom">Or Signup Now !</a>
						</div>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn" (click)="login()">
						
							Login
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
